<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>三國英雄榜</title>
</head>
<body>
    <h2>蜀漢五虎將</h2>
    <ul>
        <% heroes.forEach(name => { %>
            <li><%= name %></li>
        <% }) %>
    </ul>
</body>
</html>